header{
    border: 10px red solid;

    text-align: center;
    color: red;
    background-color: royalblue;
    text-size-adjust: 20px;
}

body{
    color: white;
    background-color: black;
    
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: blanchedalmond;

}
body h2{
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    color: navajowhite;
}

body h3{
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    color: red;
}
body h4{
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    color: red;
}
