header{
    border: 10px red solid;

    text-align: center;
    color: red;
    background-color: royalblue;
    text-size-adjust: 20px;
}

body{
    color: white;
    background-color: black;
    
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: blanchedalmond;

}
body h2{
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    color: navajowhite;
}

body h3{
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    color: red;
}
body h4{
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    color: red;
}

body .interesante{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: yellow;
}

.rama{
    padding: 10px 10px;
    border: 5px white solid
    justify-content: center;
    text-align: center;
    color: slateblue;
    font-size: 30;
    
}

.master{
    border: violet 6px solid;
    text-align: center;
    background-color: turquoise;
    margin: auto;
    padding: 10px;
    margin: 50px;
}

footer{
    text-align: center;
    text-decoration: violet;
    color: white;
    background-color: black;
    padding: 30px;
    margin: 10px;
    text-size-adjust: 20px;
}